{% extends "base.html" %}

{% block titulo %}Películas{% endblock %}

{% block contenido %}
    <h1>Listado de películas</h1>
    <p>Sección que muestra el listado de películas</p>

    <div class="card">
        <div class="card-header"><a
            name=""
            id=""
            class="btn btn-outline-success"
            href="{% url 'agregar' %}"
            role="button"
            >Agregar película</a
        >
        </div>
        <div class="card-body">
            <h4 class="card-title">Listado</h4>
            

            <table class="table" id="myTable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Imagenenes</th>
                        <th>Nombre</th>
                        <th>Categoría</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pelicula in peliculas %}
                    <tr>
                        <td>{{ pelicula.id }}</td>
                        <td>
                            <img src="{{ pelicula.imagen.url }}" height="100">
                        </td>
                        <td>{{ pelicula.titulo }}</td>
                        <td>{{ pelicula.categoria.nombre }}</td>
                        <td>{{ pelicula.descripcion }}</td>
                        <td>
                            <a
                                name=""
                                id=""
                                class="btn btn-outline-warning"
                                href="{% url 'editar' pelicula.id%}"
                                role="button"
                                >Editar</a
                            >
                            <a
                                name=""
                                id=""
                                class="btn btn-outline-danger"
                                href="{% url 'eliminar' pelicula.id%}"
                                role="button"
                                >Eliminar</a
                            >
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer text-muted">

            {% if request.user.is_authenticated %}
            <h2>Hola {{ request.user.username }}</h2>
            {% endif %}

        </div>
    </div>

    <script>
        new DataTable('#myTable');
        
    </script>

       
    

{% endblock %}